.container {
  width: 100vw;
  background-color: #2bbce6;
}
.category-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 80%;
}
h2 {
  margin-bottom: 0;
  color: #250048;
}
.category-item {
  width: 100%;
  text-align: center;
  margin: 3px 10px 10px 0;
  height: 25px;
}
.category-item > a {
  text-decoration: none;
}
.category-item > a:hover {
  text-decoration: underline;
}
.category-text {
  font-weight: 400;
  color: white;
}
