.container {
  width: 100vw;
  height: 100vh;
}
.title {
  text-align: center;
  color: #250048;
  margin: 0;
}
.category-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: white;
}
.category-icon-container {
  padding: 5px 15px;
}
.category-description {
  text-align: center;
  flex: 1;
}
.title-category {
  text-align: center;
  height: 30px;
  font-style: italic;
}
.back-action {
  width: 100vw;
  text-align: center;
}
.back-action > a {
  text-decoration: none;
}
.back-action > a:hover {
  text-decoration: underline;
}
.back-action > a > p {
  color: #240048;
}
